<container class="container">


  <div class="offset-by-five devise">

    Please <%= link_to("Sign up", new_user_registration_path) %>! <br />
         Have an account? <%= link_to("Sign in", new_user_session_path) %>
    <br />
    <br />
    If you are an Artist please <%= link_to("Join", new_artist_registration_path)%>! <br />
      Have an Artist account? <%= link_to("Sign in", new_artist_session_path)%>!

  </div>
</container>
 